<h1>Hacker News</h1>

<ol>
  <% @links.each do |link| %>
    <li>
      <%= link_to "↑", link_path(link, "link[score]" => (link.score.to_i + 1)), :method => :patch %>
      <a href="http://<%=link.url%>"><%= link.title %> </a>
      (<%=link.url%>)
    </li>
    <p class='title_info'> <%=link.score.to_i%> points. | comments | Created <%=link.age%> ago  | <%= link_to "delete", link_path(link), :method => 'delete' %>  </p>
  <% end %>
</ol>

<%= link_to "Add a new link", new_link_path, :class=> "btn btn-default" %>
